.tile-line {
  width: 100%;
  margin: auto;
  margin-top: 3rem;
  display: flex;
}

.tile {
  padding-top: 0px;
  margin: auto;
  background-color: rgba(240, 240, 255, 0.45);
  box-shadow: 0px 0px 3px black;
  display: block;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tile:hover {
  background-color: rgba(240, 240, 255, 0.65);
}

.tile:active {
  background-color: rgba(240, 240, 255, 0.15);
}

.tile-text {
  font-size: 16px;
  font-weight: 800;
  color: black;
  margin: auto;
}
