h2 {
  font-size: 2em;
  font-weight: 500;
}

#navigator {
  position: absolute;
  width: 100%;
}

.bg {
  position: fixed;
  background-image: url(../assets/background/bg-2.jpg);
  background-repeat: repeat;
  background-size: cover;
}

.subpage-blur-bg {
  background-image: url(../assets/background/bg-2.jpg);
}
